<!DOCTYPE html>
<html>
    <head>
    	<title>BloopBlog</title>
    	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a class="header item" href="/"><i class="idea icon"></i>BloopBlog</a>
                <a href="/blogs/new" class="item">New Blog</a>
            </div>
        </div>